{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

  <script src="{% static 'windowLogic.js' %}"></script>
  <script src="{% static 'PseudocodeHandler.js' %}"></script>
  <script src="{% static 'animationQueue.js' %}"></script>
  <script src="{% static 'NodeClass.js' %}"></script>
  <script src="{% static 'BSTClass.js' %}"></script>
  <script src="{% static 'AVLClass.js' %}"></script>
  <script src="{% static 'animationHandler.js' %}"></script>
  <script src="{% static 'treeHandler.js' %}"></script>
<body>

    <div class="navbar">
        <a href="/home/">Home</a>
        <a href="/BST/">BST</a>
        <a href="/AVL/">AVL</a>
        <a href="/Tree/">Tree</a>
    </div>

{% block content %}    
{% endblock %}

</body>
</html>