{% extends "base.html" %}
{% load static %}

{% block title %}
  Binary Heap
{% endblock %}

{% block content %}


  <h1 id="pageTitle">Binary Min Heap</h1>
  <button id="insertInfo" class="infoButton" onclick="showInfo('BH', 'base')">Info!</button> 

  <div class="tree-canvas" id="treeBox">
    <canvas id="myCanvas" style="border:1px solid #000000;">
    </canvas>  
  </div>

  <p>Footer</p>

  <div class="inputBar">

    <pre>
    Insert:
    <input id="nodeInsert" type="text">
    <button id="nodeInsertButton" onclick="userInputNode()">Insert!</button> <button id="insertInfo" class="infoButton" onclick="showInfo('BH', 'insert')">Info!</button>
    </pre>
    
    <pre>
    Removal of Minimum:
    <button id="nodeRemoveButton" onclick="userRemoveNode()">Remove Min!</button> <button id="insertInfo" class="infoButton" onclick="showInfo('BH', 'remove')">Info!</button>
    </pre>
    
    <pre>
    <button id="changeTypeButton" onclick="changeHeapType()">Set to Max Heap</button>
    </pre>    

    <pre class="sliderContainer">
    Set Animation Speed:
    <input onchange="updateAnimSpeed()" type="range" min="0.25" max="100" value="10" step="0.25" class="slider" id="speedSlider">
    <label id="speedLabel" for="speedSlider">x10</label>
    </pre>

    <pre>
    Show Code:
    <input oninput="updateShowCode()" id="codeCheckBox" type="checkbox">
    </pre>
</div>

{% endblock %}