{% extends "base.html" %}
{% load static %}

{% block title %}
  Fibonacci Heap
{% endblock %}

{% block content %}

    <h1>Fibonacci Heap</h1>  
    <button id="insertInfo" class="infoButton" onclick="showInfo('FH', 'base')">Info!</button>
    
    <div class="tree-canvas" id="treeBox">
        <canvas id="myCanvas" style="border:1px solid #000000;">
        </canvas>  
    </div>

    <p>Footer</p>

    <div class="inputBar">

        <pre>
        Insert:
        <input id="nodeInsert" type="text">
        <button id="nodeInsertButton" onclick="userInputNode()">Insert!</button> <button class="infoButton" onclick="showInfo('FH', 'insert')">Info!</button>
        </pre>

        <pre>
        Remove:
        <input id="nodeRemove" type="text">
        <button id="nodeRemoveButton" onclick="userRemoveNode()">Remove!</button> <button class="infoButton" onclick="showInfo('FH', 'remove')">Info!</button>
        </pre>


        <pre>
        Remove Minimum Node:
        <button id="nodeRemoveMinButton" onclick="userRemoveMin()">Remove Minimum!</button> 
        <button class="infoButton" onclick="showInfo('FH', 'removemin')">Info!</button>
        </pre>        
        
        <pre>
        Decrease Node Value:
        <label>Node to Change:</label> <input id="decreaseNodeId" type="text">
        <label>New Id: </label>               <input id="decreaseNodeValue" type="text">
        <button id="decreaseNodeButton" onclick="userDecreaseNode()">Decrease Value!</button> <button class="infoButton" onclick="showInfo('FH', 'decrease')">Info!</button>
        </pre>

        <pre class="sliderContainer">
        Change Animation Speed
        <input onchange="updateAnimSpeed()" type="range" min="0.25" max="100" value="10" step="0.25" class="slider" id="speedSlider">
        <label id="speedLabel" for="speedSlider">x10</label>
        </pre>

        <pre>
        Show Code:
        <input oninput="updateShowCode()" id="codeCheckBox" type="checkbox">
        </pre>
    </div>



{% endblock %}