{% extends "base.html" %}
{% load static %}

{% block title %}
  Fibonacci Heap
{% endblock %}

{% block content %}

    <h1>Fibonacci Heap</h1>    
    <button onclick="qwert()">3 pleaser</button>
    <div class="tree-canvas" id="treeBox">
        <canvas id="myCanvas" style="border:1px solid #000000;">
        </canvas>  
    </div>

    <p>Footer</p>

    <div class="inputBar">

        <input id="nodeInsert" type="text">
        <button id="nodeInsertButton" onclick="userInputNode()">Insert!</button>

        <input id="nodeRemove" type="text">
        <button id="nodeRemoveButton" onclick="userRemoveNode()">Remove!</button>

        <button id="nodeRemoveMinButton" onclick="userRemoveMin()">Remove Minimum!</button>
        
        <label>Node to Change: </label>
        <input id="decreaseNodeId" type="text">
        <label>New Id: </label>
        <input id="decreaseNodeValue" type="text">
        <button id="decreaseNodeButton" onclick="userDecreaseNode()">Decrease Value!</button>

        <div class="sliderContainer">
            <input onchange="updateAnimSpeed()" type="range" min="0.25" max="100" value="10" step="0.25" class="slider" id="speedSlider">
            <label id="speedLabel" for="speedSlider">x10</label>
        </div>

        <label>
            Show Code:
            <input oninput="updateShowCode()" id="codeCheckBox" type="checkbox">
        </label>
    </div>



{% endblock %}