{% extends "base.html" %}

{% block title %}
  Home
{% endblock %}

{% block content %}
    <h1>Tree Like Data Structure Visualiser</h1>

    <a href="/BST/" class="homeBlock">
        <img src="../static/media/diagram.png" alt="Placeholder Image">
        <div class="text">
          <h2>Binary Search Tree</h2>
          <p>A heirarchal data structure used for efficient searching, insertion and deletion.
          </br>Each node has a key, a left child and a right child.
          </br>Where each left child must be smaller than the node, and each right child must be greater than the node.
          </p>
        </div>
    </a>

    <a href="/AVL/" class="homeBlock">
      <img src="../static/media/diagram.png" alt="Placeholder Image">
      <div class="text">
        <h2>AVL Tree</h2>
        <p>A self balancing Binary Search Trees.
        </br>AVL trees have the same properties as a BST with the addition of a balance factor to ensure operations are efficient.
        </p>
      </div>
    </a>

    <a href="/BH/" class="homeBlock">
      <img src="../static/media/diagram.png" alt="Placeholder Image">
      <div class="text">
        <h2>Binary Heap</h2>
        <p>A heirarchal structure where the most important node is always stored at the root of the heap.
        </br>Each node must follow the heap priority which is a set of rules defined by the type of heap.
        </br>This visulaiser includes a Min Heap where the smallest node is kept at the root, and a Max Heap, where the largest node is kept at the root.
        </p>
      </div>
    </a>

    <a href="/RB/" class="homeBlock">
      <img src="../static/media/diagram.png" alt="Placeholder Image">
      <div class="text">
        <h2>Red Black Tree</h2>
        <p>Red Black trees have the same properties as a BST with the additon of node colouring.
        </br>Nodes can be coloured Red or Black, and this is used along with rotations to sort the tree into a more efficient form.
        </p>
      </div>
    </a>

    <a href="/FH/" class="homeBlock">
      <img src="../static/media/diagram.png" alt="Placeholder Image">
      <div class="text">
        <h2>Fibonacci Heap</h2>
        <p>A collection of connected Min Heaps where the heap is sorted only after a node is removed.</p>
      </div>
    </a>
    

   

{% endblock %}
