{% extends "base.html" %}
{% load static %}

{% block title %}
  Red-Black Tree
{% endblock %}

{% block content %}

    <h1>Red-Black Tree</h1>    
    <div class="tree-canvas" id="treeBox">
        <canvas id="myCanvas" style="border:1px solid #000000;">
        </canvas>  
    </div>

    <p>Footer</p>

    <div class="inputBar">

        <pre>
        Insert:
        <input id="nodeInsert" type="text">
        <button id="nodeInsertButton" onclick="userInputNode()">Insert!</button> <button id="insertInfo" class="infoButton" onclick="showInfo('RB', 'insert')">Info!</button>
        </pre>
        
        <pre>
        Remove:
        <input id="nodeRemove" type="text">
        <button id="nodeRemoveButton" onclick="userRemoveNode()">Remove!</button> <button id="insertInfo" class="infoButton" onclick="showInfo('RB', 'remove')">Info!</button>
        </pre>

        <pre>
        Search:
        <input id="nodeSearch" type="text">
        <button id="nodeSearchButton" onclick="userSearchNode()">Search!</button> <button id="insertInfo" class="infoButton" onclick="showInfo('RB', 'search')">Info!</button>
        </pre>

        <pre class="sliderContainer">
        Change Animation Speed:
        <input onchange="updateAnimSpeed()" type="range" min="0.25" max="100" value="10" step="0.25" class="slider" id="speedSlider">
        <label id="speedLabel" for="speedSlider">x10</label>
        </pre>

        <pre>
        Show Code:
        <input oninput="updateShowCode()" id="codeCheckBox" type="checkbox">
        </pre>
    </div>



{% endblock %}