{% extends "base.html" %}
{% load static %}

{% block title %}
  Tree
{% endblock %}

{% block content %}
    <script src="{% static 'PseudocodeHandler.js' %}"></script>
    <script src="{% static 'BSTClass.js' %}"></script>
    <script src="{% static 'displayTree.js' %}"></script>
    <script src="{% static 'windowLogic.js' %}"></script>
    
    <h1 id="David">TREE</h1>    

    <!-- <button onclick="myNameIsDavid()">Test Test</button> -->
    <button onclick="highlightLine('1')">highlight</button>
    <button onclick="emptyBox()">empty</button>
    <button onclick="sussyBox()">sus</button>


    <div class="tree-canvas" id="treeBox">
        <canvas id="myCanvas" style="border:1px solid #000000;">
        </canvas>  
    </div>

    <p>Footer</p>

    <!-- <div id="codePanel" class="codePanel">
        code?
        <br>
        AAA
    </div> -->

    <div class="inputBar">
        <!-- <form action="lmao(2)">
            <label for="inNode">Node Value: </label>
            <input type="text" id="inNode" name="inNode">
            <input type="submit">
        </form>
        <a href="/BST/">BST</a>
        <a href="/Tree/">Tree</a> -->
        <!-- <button onclick="swap('ball1', 'ball2')">AAAA</button>
        <button onclick="myFun({{tree_data}})">Lmao</button>
        <button onclick="createRoot('1', 10)">CREATE ROOT</button> 
        <button onclick="newElem('2', 20, '1', 'r')">CREATE 20</button> 
        <button onclick="newElem('3', 5, '1', 'l')">CREATE 5</button> 
        <button onclick="newElem('4', 7, '3', 'r')">CREATE 7</button> 

        <p>Break</p>
        <button onclick="insertNode(10)">CREATE 10</button> 
        <button onclick="insertNode(20)">CREATE 20</button> 
        <button onclick="insertNode(5)">CREATE 5</button> 
        <button onclick="insertNode(7)">CREATE 7</button> 
        <button onclick="insertNode(30)">CREATE 30</button> 
        <button onclick="insertNode(500)">CREATE 500</button> 
        <button onclick="insertNode(1)">CREATE 1</button> 
        <button onclick="insertNode(12)">CREATE 12</button> 

        <p>Break</p> -->
        <input id="nodeInsert" type="text">
        <button onclick="userInputNode()">Insert!</button>

        <input id="nodeRemove" type="text">
        <button onclick="userRemoveNode()">Remove!</button>

        <input id="nodeSearch" type="text">
        <button onclick="userSearchNode()">Search!</button>

        <div class="sliderContainer">
            <input onchange="updateAnimSpeed()" type="range" min="0.25" max="10" value="10" step="0.25" class="slider" id="speedSlider">
            <label id="speedLabel" for="speedSlider">x10</label>
        </div>

        <label>
            Successor:
            <input oninput="updateSuccessorMode()" id="successorCheckBox" type="checkbox">
        </label>

        <label>
            Show Code:
            <input oninput="updateShowCode()" id="codeCheckBox" type="checkbox">
        </label>
    </div>

    <!-- <div class="box" id="parentDiv">  
        <h1> {{ counter }}</h1>    
            need a way of storing what to compare against - current root or something
        <p class="node root">{{tree_data.0}}</p>
        {% for value in tree_data %}
            {% if value == tree_data.0 %}
                <div class="root node">{{ value }}</div>
            {% else %}
                {% if value >= tree_data.0 %}
                    <div class="node right">{{ value }}</div>
                {% else %}
                    <div class="node left">{{ value }}</div>
                {% endif %}        
            {% endif %}
        {% endfor %}
    </div> -->



{% endblock %}